/* full tags  */
body {
  text-align: center;
  color: white;
}
h1, h2, h3, h4, h5, h6, a{
  font-family: "Montserrat";
  color: white;
}
button, input, textarea {
  box-shadow: 3px 3px 10px #ccc;
}
/* Heading section */
.big-heading {
  font-weight: 900;
  color: white;
  word-spacing: 10px;
}
.medium-heading {
  font-weight: 700;
}

/* div size  */
.small-div {
  height: 90px;
  text-align: center;
  align-content: center;
}
.big-div {
  height: 400px;
  padding: 0% 15%;
}

/* Color 
col1 = #93c47d
col2 = #80bcbd
col3 = #aad9bb
col4 = #d5f0c1
col5 = #f9f7c9
col6 = #ffe599
 Section */
 
/* Separate Color Section  */
.col1 {
  background-color: #93c47d;
}
.col2 {
  background-color: #80bcbd;
}
.col3 {
  background-color: #aad9bb;
}
.col4 {
  background-color: #d5f0c1;
}
.col5 {
  background-color: #f9f7c9;
}
.col6 {
  background-color: #FEEFAD;
}
/* ID section  */
#title {
  color: white;
  line-height: 1.5;
  text-align: left;
}
#about-me {
  color: white;
  position: relative;
  z-index: 1;
}
#about-me .big-div h1 {
  line-height: 2.5;
}
#skills {
  color: white
}

#projects .big-div {
  padding: 0 15%;
}

#cta {
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: #FEEFAD;
}
/* Button Section */
.hire-button {
  border-radius: 50%;
  margin-right: 3%;
}
.cv-button {
  padding: 5% 5%;
  margin: 5% auto;

}
.github-button {
  padding: 5% 5%;
  margin: 5% 5%;
}
/* Navbar Section */
.navbar {
  padding: 4.5rem 0 4.5rem;
}
.navbar-nav {
  margin-left: 650px;
}
.nav-item {
  padding: 0 5px;
}

.nav-link {
  color: white;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

.navbar-brand {
  color: white;
  font-size: 5rem;
  font-weight: 900;
  margin-left: 3%;
}


/* Title Section  */
.title-image {
  height: 35%;
  margin-left: 100px;
}


/* Skills section  */
.progress {
  margin-bottom: 8%;
}

/* Projects section  */
.card {
  height: 370px;
}
.card-body {
  padding-bottom: 0%;
}

/* Call to action section (CTA) */
.contact-icon {
  margin: 0% 2%;
}
